body {
  text-align: center;
  background-color: lightgrey;
}

.topbarbutton {
  background-color: white;
  color: black;
  border-radius: 100px;
  border-color: black;
  font-weight: bold;
  font-size: 20px;
}

.topbarbuttongrey {
  background-color: black;
  color: white;
  border-radius: 100px;
  border-color: white;
  font-weight: bold;
  font-size: 20px;
}

