body {
  text-align: center;
  background-color: lightgrey;
}

.topbarbutton {
  background-color: white;
  color: black;
  border-radius: 100px;
  //border-color: black;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.topbarbuttongrey {
  background-color: black;
  color: white;
  border-radius: 100px;
  //border-color: white;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

